<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title> Todos </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content class="no-scrollbar">
  <ion-refresher slot="fixed" (ionRefresh)="refresh($event)">
    <ion-refresher-content></ion-refresher-content>
  </ion-refresher>

  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">Todos</ion-title>
    </ion-toolbar>
  </ion-header>

  <ion-list class="min-h-full">
    @for (todo of todos$ | async; track todo._id) {
    <app-todo-item
      [todo]="todo"
      (remove)="removeTodo($event)"
      (completed)="updateTodo($event)"
      (beginEdit)="openEditTodoModal($event)"
    />
    }
    <p class="flex flex-col pb-16 pt-3 text-center">
      @if ((todos$ | async)?.length) {
      <ion-note>Swipe an item for more options</ion-note>
      }
      <ion-note>Pull down to refresh</ion-note>
    </p>
  </ion-list>

  <ion-fab slot="fixed" vertical="bottom" horizontal="end">
    <ion-fab-button (click)="openAddTodoModal()">
      <ion-icon name="add"></ion-icon>
    </ion-fab-button>
  </ion-fab>
</ion-content>
